.btn {
  &,
  &:link,
  &:visited {
    border-radius: 100px;
    display: inline-block;
    padding: 15px 40px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s;

    border: none;
    cursor: pointer;
  }
  &:hover {
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
    transform: translateY(-3px);
    &::after {
      opacity: 0;
      transform: scale(1.4, 1.7);
    }
  }
  &:active,
  &:focus {
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
    transform: translateY(-1px);
  }
  &-white {
    background-color: $color-white;
    color: $color-grey-dark;
    &::after {
      background-color: $color-white;
    }
  }

  &-green {
    background-color: $color-medium-green;
    color: $color-white;
    &::after {
      background-color: $color-medium-green;
    }
  }

  &-animated {
    animation: moveInBottom 2s ease-in-out 0.5s;
    animation-fill-mode: backwards; /* animacja zaczyna się od stanu 0%, w tym przypadku przycisk jest od początku przezroczysty. Bez tego przed rozpoczęciem animacji przycisk byłby widoczny. */
  }
  &::after {
    border-radius: 100px;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.4s;
    width: 100%;
    z-index: -1;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-medium-green;
    display: inline-block;
    font-size: $default-font-size;
    text-decoration: none;
    border-bottom: 1px solid $color-medium-green;
    padding: 3px;
    transition: all 0.2s;
  }
  &:hover {
    background-color: $color-medium-green;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    background-color: $color-medium-green;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-1px);
  }
}
