.feature-box {
  background-color: rgba($color-white, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  font-size: 1.5rem;
  padding: 2.5rem;
  transition: all 0.3s;

  @include respond(tab-port) {
    padding: 2rem;
  }

  &-icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;

    @include respond(tab-port) {
      margin-bottom: 0;
    }

    background-image: linear-gradient(
      to right,
      $color-light-green,
      $color-dark-green
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.05);
  }
}
